<ion-header>
  <ion-toolbar class="header-background-color">
  	 <ion-back-button slot="start"></ion-back-button>
    <ion-title class="heaerfont">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content></ion-refresher-content>
	 </ion-refresher>
	<div class="padcontr">
		<div class="offerbox" *ngFor="let item of allProducts">
			<div class="offer_img" *ngIf='item.image'>
				<img src="{{imgpath}}offers/{{item.image}}">
			</div>
			<div class="offercode">
				<img src="assets/offeriCon.png"> {{item.offer_code}} <span *ngIf="pgtype == 'apply'" (click)='appltythis(item)'>Apply</span>
			</div>
			<div class="offerhead">
				{{item.heading}}
			</div>
			<div class="offerdescription" [innerHTML]='item.description'></div>
		</div>
	</div>
</ion-content>
